body{
    text-align: center; 
    font-family: 'Imbue', serif; 
    font-size:50px;   
    background: linear-gradient(#473ce6 0%,#ff6f00 100% );
} 
.ha{
     
     
    letter-spacing: 3px; 
    color:greenyellow;
}